[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
webargs = "*"
psycopg2 = "*"
celery = {extras = ["redis"], version = "*"}
requests = "*"
gunicorn = "*"

[dev-packages]
pylint = "*"
pycodestyle = "*"
jedi = "*"
mypy = "*"
yapf = "*"
sqlalchemy-stubs = "*"

[requires]
python_version = "3.9"
